In [23]:
import numpy as np
import pandas as pd
import sys 
import os
sys.path.append(os.path.abspath("../src"))

import functions as fnc

In [24]:
data = pd.read_csv(r'../data/processed/train.csv')

In [25]:
pd.set_option('display.max_columns',50)

In [62]:
candidates = ['Pclass','Sex',
 'SibSp',
 'Parch',
 'Embarked',
 'J_missing_age',
 'J_age_binned',
 'J_fare_binned',
 'J_title_grouped',
 'J_nrelatives',
 'J_ticket_prefix',
 'J_ticket_location',
 'J_cabin_letter',
 'J_n_siblings_spouses']

In [84]:
data['died'] = 0
data.loc[data['Survived']==0, 'died'] = 1

## information value analysis

In [86]:
IVs = {}
woe_tables = {}
for c in candidates:
    print(c)
    IVs[c] = {}

    IVs[c]['woe_table'], IVs[c]['woe_grad'] = fnc.calculate_woe_for_column(data, c)
    IVs[c]['IV']= IVs[c]['woe_table']['IV_i'].sum()

Pclass
Sex
SibSp
Parch
Embarked
J_missing_age
J_age_binned
J_fare_binned
J_title_grouped
J_nrelatives
J_ticket_prefix
J_ticket_location
J_cabin_letter
J_n_siblings_spouses

In [87]:
iv_summary_table = pd.DataFrame({c: IVs[c]['IV'] for c in list(IVs.keys())}, index=['IV']).T
iv_summary_table.sort_values(by='IV', ascending=False).round(2)

                          IV
J_title_grouped       149.71
Sex                   134.17
J_fare_binned          62.59
Pclass                 50.09
J_cabin_letter         27.80
J_n_siblings_spouses   23.59
J_age_binned           12.58
Embarked               12.27
J_ticket_location      11.28
SibSp                  11.15
Parch                  10.67
J_ticket_prefix         8.28
J_nrelatives            7.28
J_missing_age           3.76

we can see that our new title column is very predictive (the function removed the items with <5% of sample in them), however adding the 'miss' has added value compared to male/female (as we saw before, young women have a very high chance of surviving.

Here Bad == died

In [88]:
IVs['J_title_grouped']['woe_table']

died,Good,Bad,Bad rate,Good+Bad,Good%-Bad%,WoE,IV_i
J_title_grouped,,,,,,,
Miss,0.380117,0.100182,0.297297,0.207632,27.993481,1.333489,37.328998
Mr,0.236842,0.795993,0.843629,0.581369,-55.915061,-1.212196,67.780032
Mrs,0.292398,0.047359,0.206349,0.141414,24.503883,1.820361,44.605921

## correlation analysis